{% extends 'baseBack.html.twig' %}
{% block body %}

    <h1> list agence </h1>

    <p style="margin-left: 950px"> <input  id="myInput"  type="text" placeholder="Search..">
    </p>
    <table border="0" class="display table table-bordered" id="hidden-table-info">
        <tr>

            <td>date debut</td>
            <td>date fin</td>
            <td>voiture_id</td>

        </tr>
        <tbody  id="myTable">

        {% for i in tabreservation %}
            <tr>


                <td>{{ i.datedebut|date('d/m/y') }}</td>
                <td>{{ i.datefin|date('d/m/y') }}</td>
                <td>{{ i.voiture_id }}</td>


            </tr>

        {% endfor %}
        </tbody>
    </table>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>














{% endblock %}
